<!DOCTYPE html>
<html lang="en">
<head>    
	<meta charset="UTF-8">    
	<title>My Website - About</title>    
	<link rel="stylesheet" href="/static/css/app.css">
	</head>
	<body>    
	<h1> Imani Miller </h1>  
 <p>From the header you would see that my name Imani Miller. It is a quite common name that originated from Swahili and means Faith. <br>
       I was born in Kinsgton Jamaica and grew up in the same place. Throughout my childhood I was a very active child and as my mother would tell me, <br>
       I was also very mischievous. I attended a few prep schools- St. Andrew Prep and Mona Prep- and one high school- Immaculate Conception High School. <br>
       I did fairly well at all these institutions and now I am here at The University of the West Indies pursuing a degree in Computer Science. <br>
       Although I do enjoy computer science, i have a few hobbies that one would say are opposites. A few of my hobbies include painting, digital drawing<br>
       and nail art.  </p>
	</body>
</html>
